# ------------------------------------------------------------------------------
# WP
# ------------------------------------------------------------------------------

*.php
wp-admin
wp-includes
wp-content/*
!wp-content/plugins/
!wp-content/themes/

# Ignore everything in the "plugins" directory, except the plugins we
# specify (see the commented-out examples for hints on how to do this.)
wp-content/plugins/*
# !wp-content/plugins/my-single-file-plugin.php
# !wp-content/plugins/my-directory-plugin/

# Ignore everything in the "themes" directory, except the themes we specify
wp-content/themes/*
!wp-content/themes/varyag-game/

# ------------------------------------------------------------------------------
# COMMON
# ------------------------------------------------------------------------------

# ignore all files starting with ~
~*

# Vendor (e.g. Composer)
vendor/*
!vendor/.gitkeep

# Project Source Files
assets
backup
docs
node_modules
notes

# Databases
*.sql
*.sqlite

# Media Files
*.avi
*.doc
*.docx
# *.gif
# *.jpeg
# *.jpg
*.mov
*.mp3
# *.mp4
*.mpeg
# *.pdf
# *.png
# *.svg
# *.webm
# *.webp
*.wmv

# Styles
*.css
!wp-content/themes/varyag-game/style.css

# Misc
twig-cheatsheet.md
sitemap.xml
sitemap.xml.gz


# ------------------------------------------------------------------------------
# LOCAL DEVELOPMENT
# ------------------------------------------------------------------------------

# Editors
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace
*_notes

#Build generated
*.sass-cache*
.tmp
build/
dist/

# Logs, backups
*.bak
*.log
*.swp

# Package managers
.npm
.yarn-integrity
jspm_packages
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# All yarn.lock files should be checked into source control

# Optional eslint cache
.eslintcache

# SYSTEM FILES
*.DS_Store
*.app

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
