/* stylelint-disable selector-list-comma-newline-after, scss/percent-placeholder-pattern */

// H1 & H2

h1, .h1, %h1,
h2, .h2, %h2,
h3, .h3, %big {
  color: $color-ink-title;
  font-feature-settings: 'kern' 1, 'liga' 1;
}


// H1 and hero titles
h1, .h1, %h1 {
  font-family: $font-family-title;
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-title);
  line-height: var(--font-line-height-title);
  margin: 0;
  padding-top: var(--size-padding-top-title);
  padding-bottom: var(--size-padding-bottom-title);

  .eyebrow + & {
    margin-top: var(--size-margin-top-title-minus);
  }
}

// Heading 2
h2, .h2, %h2 {
  font-family: $font-family-base;
  font-size: var(--font-size-subhead-h2);
  font-weight: var(--font-weight-subhead-h2);
  line-height: var(--font-line-height-subhead-h2);
  margin: 0;
  padding-top: var(--size-padding-top-subhead-h2);
  padding-bottom: var(--size-padding-bottom-subhead-h2);

  &:not(:first-child):not([class]) {
    margin-top: var(--size-margin-top-h2-plus);
  }
}

.h2.is-highlight {
  color: $color-ink-primary-fill;
}

// -----------------------------------------------------------------------------

// SUBHEADS

// A subsidiary headline
.dropout {
  @extend %h2;
}

h3, .h3, %big {
  font-size: var(--font-size-big);
  line-height: var(--font-line-height-big);
  padding-top: var(--size-padding-top-big);
  padding-bottom: var(--size-padding-bottom-big);
}

h4, %h4, h5, h6 {
  font-size: 100%;
  line-height: var(--font-line-height-base);
  padding-top: var(--size-padding-top-base);
  padding-bottom: var(--size-padding-bottom-base);

  &:not(:first-child):not([class]) {
    margin-top: var(--size-margin-top-subhead-plus);
  }
}

h3, .h3, %big,
h4, %h4, h5, h6 {
  font-weight: 500;
  margin: 0;

  &:not(:first-child):not([class]) {
    margin-top: var(--size-margin-top-subhead-plus);
  }
}
