extends /pages/base/base.pug
include /pages/base/mixins

//- SETTINGS -------------------------------------------------------------------

append config
  -
    const page = {
      isModalSrc: true
    }

//- CONTENT --------------------------------------------------------------------

block content
  header.main__header
    h1 Оплата и доставка
    button.btn.is-close(type='button' data-bs-dismiss='modal' aria-label='Закрыть')
      svg.icon(aria-hidden='true' focusable='false')
        use(href='/wp-content/themes/varyag/images/base/graphics/sprite.svg#icon-x-mark')

  .main__body

    h2.main__subhead.is-first Оплата
    p <strong>К оплате принимаются</strong> карты «Виза», «Мастеркард» и «Мир», а также переводы с помощью систем «Пейпал» и «ЮMoney». При курьерской доставке по Москве возможна оплата наличными. Для организаций предусмотрена оплата по безналичному расчету. До момента получения платежа товары не резервируются.

    h2 Доставка
    p Мы доставляем товары по всему миру. Способ доставки (курьером, почтой или самовывоз) выбирается при оформлении заказа. Стоимость доставки включается в счет автоматически и зависит от веса посылки и адреса получателя.
    p Если покупка по какой-либо причине не понравилась, мы без вопросов примем ее обратно.

    h3 По Москве
    p Жителям Москвы развозят заказы наши курьеры, также есть возможность забрать заказ самостоятельно в одном из магазинов компании или в терминале «Пикпоинта».
    p <strong>Курьерская доставка по Москве</strong> стоит 300 рублей и действует не дальше 3 км от МКАДа. Курьеры работают по будням с 10:00 до 19:00. В день доставки курьер связывается с покупателем для уточнения времени. В отдаленные районы Москвы и Подмосковье товары доставляются сторонними курьерскими службами.
    p <strong>Cамовывоз</strong> из собственных магазинов компании бесплатен. Курьерская доставка по Москве бесплатна при заказе на сумму свыше 3500 рублей.

    h3 По России

    h4 Почта России
    p Срок доставки — от двух до четырех недель. Покупатели отслеживают статус отправления на сайте Почты России. Когда посылка прибывает в местное почтовое отделение, приходит бумажное извещение.

    h4 Постаматы «Пикпоинт»
    p Срок доставки — от двух до пяти рабочих дней. Постамат выбирается при оформлении заказа. Когда посылка прибывает в выбранный пункт, высылается СМС или электронное письмо с ПИН-кодом, который нужно ввести в постамат.

    h4 Курьерская служба
    p Срок доставки — от двух до пяти рабочих дней, не считая дня отправки. Курьер предварительно связывается с покупателем по телефону и передает ему посылку лично в руки. Доставка производится по рабочим дням с 9:00 до 18:00.

    h3 По миру
    p Мы отправляем товары практически в любую точку мира. В зависимости от выбранного товара и местонахождения покупателя предлагаются следующие варианты доставки: Почтой России, Почтой Украины и различными курьерскими службами.
    p В случае отправки заказа Почтой России срок доставки обычно составляет от двух до семи недель.
    p Стоимость доставки за пределы России не включает таможенную пошлину, наличие, размер и порядок оплаты которой установлен в стране получения заказа.


