// -----------------------------------------------------------------------------
// PULL QUOTE
// -----------------------------------------------------------------------------

.pull-quote {
  @extend %full-width-lg;

  margin-top: $size-line;
}

.pull-quote__body {
  border: .1rem solid var(--color-border-dark);
  color: var(--color-ink-2ry);
  font-size: var(--font-size-big);
  line-height: var(--font-line-height-big);
  padding: var(--size-padding-x-box);
  text-transform: uppercase;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
  max-width: var(--size-max-width-container);

  @include media-breakpoint-up(lg) {
    width: calc(100vw - var(--size-padding-x-container) * 2);
  }
}

.pull-quote__body > p {
  padding-top: var(--size-padding-top-big);
  padding-bottom: var(--size-padding-top-big);
}

// -----------------------------------------------------------------------------
// BLOCK QUOTE
// -----------------------------------------------------------------------------

.blockquote {
  font-family: $font-family-title;
  font-size: var(--font-size-big);
  font-weight: 500;
  letter-spacing: -.05rem;
  line-height: var(--font-line-height-big);
  position: relative;

  &::before {
    color: $color-ink-2ry;
    content: '\00ab';
    font-size: var(--font-size-subhead-h2);
    position: absolute;
    top: -2.2rem;
    left: -$size-3;
  }
}
