{% extends "base/base.twig" %}

{% block config %}
  {{ parent() }}

  {% set post = {
    is_wp: false,
    is_modal: true,
    title: site.name,
    description: site.description,
    link: site.url,
    image: global.logo
  } %}

{% endblock %}

{# MAIN CONTENT ------------------------------------------------------------- #}
{% block content %}

  {% include "components/header-legal.twig" with {title: "Оплата и доставка"} %}

  <div class="main__body">
    <h2 class="main__subhead is-first">Оплата</h2>
    <p><strong>К оплате принимаются</strong> карты «Виза», «Мастеркард» и «Мир», а также переводы с помощью систем «Пейпал» и «ЮMoney». При курьерской доставке по Москве возможна оплата наличными. Для организаций предусмотрена оплата по безналичному расчету. До момента получения платежа товары не резервируются.</p>
    <h2>Доставка</h2>
    <p>Мы доставляем товары по всему миру. Способ доставки (курьером, почтой или самовывоз) выбирается при оформлении заказа. Стоимость доставки включается в счет автоматически и зависит от веса посылки и адреса получателя.</p>
    <p>Если покупка по какой-либо причине не понравилась, мы без вопросов примем ее обратно.</p>
    <h3>По Москве</h3>
    <p>Жителям Москвы развозят заказы наши курьеры, также есть возможность забрать заказ самостоятельно в одном из магазинов компании или в терминале «Пикпоинта».</p>
    <p><strong>Курьерская доставка по Москве</strong> стоит 300 рублей и действует не дальше 3 км от МКАДа. Курьеры работают по будням с 10:00 до 19:00. В день доставки курьер связывается с покупателем для уточнения времени. В отдаленные районы Москвы и Подмосковье товары доставляются сторонними курьерскими службами.</p>
    <p><strong>Cамовывоз</strong> из собственных магазинов компании бесплатен. Курьерская доставка по Москве бесплатна при заказе на сумму свыше 3500 рублей.</p>
    <h3>По России</h3>
    <h4>Почта России</h4>
    <p>Срок доставки — от двух до четырех недель. Покупатели отслеживают статус отправления на сайте Почты России. Когда посылка прибывает в местное почтовое отделение, приходит бумажное извещение.</p>
    <h4>Постаматы «Пикпоинт»</h4>
    <p>Срок доставки — от двух до пяти рабочих дней. Постамат выбирается при оформлении заказа. Когда посылка прибывает в выбранный пункт, высылается СМС или электронное письмо с ПИН-кодом, который нужно ввести в постамат.</p>
    <h4>Курьерская служба</h4>
    <p>Срок доставки — от двух до пяти рабочих дней, не считая дня отправки. Курьер предварительно связывается с покупателем по телефону и передает ему посылку лично в руки. Доставка производится по рабочим дням с 9:00 до 18:00.</p>
    <h3>По миру</h3>
    <p>Мы отправляем товары практически в любую точку мира. В зависимости от выбранного товара и местонахождения покупателя предлагаются следующие варианты доставки: Почтой России, Почтой Украины и различными курьерскими службами.</p>
    <p>В случае отправки заказа Почтой России срок доставки обычно составляет от двух до семи недель.</p>
    <p>Стоимость доставки за пределы России не включает таможенную пошлину, наличие, размер и порядок оплаты которой установлен в стране получения заказа.</p>
  </div>

{% endblock %}
