
$carousel-width:                        100%;
$carousel-height:                       80vh;

$carousel-prev-next-size:               $size-5;
$carousel-prev-next-offset:             -1rem;
$carousel-prev-next-bg:                 $color-background-alt;
$carousel-prev-next-chevron:            var(--asset-data-image-chevron-xxxl);

$carousel-navigation-button-bg:         $color-background-alt;
$carousel-navigation-button-size:       $size-2;

.carousel {
  position: relative;
  width: $carousel-width;
  height: $carousel-height;
}

.carousel__viewport {
  // Hide scrollbar
  -ms-overflow-style: none;
  // Making it swipable
  -webkit-overflow-scrolling: touch;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  // Sliding animation magic
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  // Hide scrollbar: thumb and track color
  scrollbar-color: transparent transparent;
  scrollbar-width: 0;

  // Hide scrollbar
  &::-webkit-scrollbar {
    width: 0;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border: 0;
  }
}

.carousel__slide {
  flex: 0 0 100%;
  position: relative;
  // without snapper
  scroll-snap-align: center;
  width: 100%;
  height: $carousel-height;
}

// Fixed prev/next buttons
// .carousel__slide
//   content
//   .carousel__snapper
//     .carousel__prev
//     .carousel__next

// .carousel__snapper {
//   position: absolute;
//   top: 0;
//   left: 0;
//   scroll-snap-align: center;
//   width: 100%;
//   height: 100%;
// }

// .carousel__prev,
// .carousel__next {
//   border-radius: 50%;
//   background: $carousel-prev-next-bg $carousel-prev-next-chevron 50% 50% no-repeat;
//   font-size: 0;
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   width: $carousel-prev-next-size;
//   height: $carousel-prev-next-size;
// }

// .carousel__prev {
//   left: $carousel-prev-next-offset;
//   transform: scaleX(-1);
// }

// .carousel__next {
//   right: $carousel-prev-next-offset;
// }

// Navigation

// nav.carousel__navigation
//   ol.carousel__navigation-list
//     li.carousel__navigation-item
//       a.carousel__navigation-button(href='#carousel-1') Go to slide 1

// .carousel__navigation {
//   text-align: center;
//   position: absolute;
//   right: 0;
//   bottom: 0;
//   left: 0;
// }

// .carousel__navigation-list,
// .carousel__navigation-item {
//   display: inline-block;
// }

// .carousel__navigation-button {
//   background-clip: content-box;
//   background-color: $carousel-navigation-button-bg;
//   border-radius: 50%;
//   display: inline-block;
//   font-size: 0;
//   transition: transform $motion-duration-sm;
//   width: $carousel-navigation-button-size;
//   height: $carousel-navigation-button-size;
// }

// Autoplay

// @keyframes tonext {
//   75% {
//     left: 0;
//   }
//   95% {
//     left: 100%;
//   }
//   98% {
//     left: 100%;
//   }
//   99% {
//     left: 0;
//   }
// }

// @keyframes tostart {
//   75% {
//     left: 0;
//   }
//   95% {
//     left: -300%;
//   }
//   98% {
//     left: -300%;
//   }
//   99% {
//     left: 0;
//   }
// }

// @keyframes snap {
//   96% {
//     scroll-snap-align: center;
//   }
//   97% {
//     scroll-snap-align: none;
//   }
//   99% {
//     scroll-snap-align: none;
//   }
//   100% {
//     scroll-snap-align: center;
//   }
// }

// @media (hover: hover) {
//   .carousel__snapper {
//     animation-name: tonext, snap;
//     animation-timing-function: ease;
//     animation-duration: 4s;
//     animation-iteration-count: infinite;
//   }

//   .carousel__slide:last-child .carousel__snapper {
//     animation-name: tostart, snap;
//   }
// }

// @media (prefers-reduced-motion: reduce) {
//   .carousel__snapper {
//     animation-name: none;
//   }
// }

// .carousel:hover .carousel__snapper,
// .carousel:focus-within .carousel__snapper {
//   animation-name: none;
// }
