// @see carousel.md

.trivision {
  position: relative; // required
  width: 100%;
}

// MIXINS

@mixin trivision-slides(
  $slides: 5,
  $slide-class: '.trivision__item',
  $on-screen: 4s
) {

  #{$slide-class} {
    animation-name: slider-autoplay-0#{$slides};
    animation-duration: ($slides * $on-screen);
    animation-iteration-count: infinite;
    animation-iteration-count: $motion-easing-base;
    opacity: 1;
    position: relative;
  }

  #{$slide-class} ~ #{$slide-class} {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
  }

  @for $i from 2 through $slides {
    #{$slide-class}.is-#{$i} {
      animation-delay: ($on-screen * ($i - 1));
    }
  }
}
