// noindex
noscript
  .alert.is-warning.is-global(role='alert')
    p
      svg.icon(aria-hidden='true' focusable='false')
        use(xlink:href=`${site.baseUrl}img/base/icons/sprite.svg#icon-warning`)
      |
      | В&nbsp;вашем браузере выключен JavaScript, поэтому на&nbsp;сайте могут не&nbsp;работать некоторые элементы интерфейса. Но&nbsp;вы&nbsp;всегда можете <a href="http://www.google.com/adsense/support/bin/answer.py?hl=ru&amp;answer=12654" target="_blank" rel="noopener noreferrer nofollow">включить Javascript</a>.
// /noindex
