header.header.is-min

  h1.logo
    a(href='/')
      span.logo__tagline Настольная <span class="nobr">военно-тактическая</span> игра <span class="sr-only">«Варяг»</span>
      picture
        source(media='(-webkit-min-device-pixel-ratio: 1.5)' srcset='/wp-content/themes/varyag/images/base/graphics/logo/logo@2x.png')
        img(src='/wp-content/themes/varyag/images/base/graphics/logo/logo.png' width='126' height='48' alt='Логотип игры «Варяг»')

  a.header__buy-button(href='/#section-products')
    span Купить
