<!--googleoff: all-->
<!--noindex-->
<noscript>
  <div class="alert is-warning is-global" role="alert">
    <p>
      {% include "base/icon.twig" with {name: "warning"} %}
      В вашем браузере выключен JavaScript, поэтому на сайте могут не работать некоторые элементы интерфейса. Но вы всегда можете <a href="http://www.google.com/adsense/support/bin/answer.py?hl=ru&amp;answer=12654" target="_blank" rel="noopener noreferrer nofollow">включить Javascript</a>.
    </p>
  </div>
</noscript>
<!--/noindex-->
<!--googleon: all-->
