<header class="header is-min">
  <h1 class="logo">
    <a href="/">
      <span class="logo__tagline">Настольная <span class="nobr">военно-тактическая</span> игра <span class="sr-only">«Варяг»</span></span>
      <picture>
        <source media="(-webkit-min-device-pixel-ratio: 1.5)" srcset="{{ site.theme.link }}/images/base/graphics/logo/logo@2x.png">
        <img src="{{ site.theme.link }}/images/base/graphics/logo/logo.png" width="126" height="48" alt="Логотип игры «Варяг»">
      </picture>
    </a>
  </h1>
  <a class="header__buy-button" href="/#section-products"><span>Купить</span></a>
</header>
