<a class="logo" href="/">
  <picture>
    <source media="(min-width: 768px) and (max-width: 1359px)" srcset="{{ site.theme.link }}/images/base/graphics/logo/logo-md.svg">
    <img src="{{ site.theme.link }}/images/base/graphics/logo/logo.svg" width="176" height="48" alt="{{ site.name }} — Logo">
  </picture>
  <span class="sr-only">{{ site.name }} — Homepage</span>
  <span class="q-row__tagline">IT community</span>
</a>
