// Check/radio

$form-check-input-width: $size-2;

.input.has-option {
  padding-left: $size-4;
  padding-bottom: 2rem;

}

.input__option {
  appearance: none;
  background-color: $color-background-base;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: 1px solid $color-ink-border;
  color-adjust: exact; // Keep themed appearance for print
  vertical-align: top;
  position: absolute;
  top: var(--size-padding-top-label-option);
  left: 0;
  width: $form-check-input-width;
  height: $form-check-input-width;

  &[type='checkbox'] {
    border-radius: 25%;
  }

  &[type='radio'] {
    border-radius: 50%;
  }

  &:active {
    filter: brightness(90%);
  }

  &:focus {
    outline: 0;
    box-shadow: $layer-box-shadow-focus-outline;
  }

  &:checked {
    background-color: $color-brand-primary-base;
    border-color: $color-brand-primary-base;

    &[type='checkbox'] {
      background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3e%3cpath fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 10l3 3l6-6"/%3e%3c/svg%3e');
    }

    &[type='radio'] {
      background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="-4 -4 8 8"%3e%3ccircle r="2" fill="%23fff"/%3e%3c/svg%3e');
    }
  }

  &[type='checkbox']:indeterminate {
    background-image: url('data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"%3e%3cpath fill="none" stroke="%23fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M6 10h8"/%3e%3c/svg%3e');
  }

  &:disabled {
    filter: none;
    opacity: .5;
    pointer-events: none;
  }
}
