// class applies to select element itself, not a wrapper element
.input__control.is-select {
  background-image: var(--asset-data-image-chevron-down);
  background-position: right $size-1 top 50%, 0 0;
  background-repeat: no-repeat;
  vertical-align: middle;
  width: 100%;
  // useful when width is set to anything other than 100%
  max-width: 100%;
}

// Hide arrow icon in IE browsers
.input__control.is-select::-ms-expand {
  background-color: transparent;
  border: 0;
}

.input__control option {
  font-weight: normal;
}

