// -----------------------------------------------------------------------------
// TYPOGRAPHY
// -----------------------------------------------------------------------------

.label,
%label {
  font-size: var(--font-size-small);
  font-weight: 500;
  letter-spacing: .05rem;
  line-height: var(--font-line-height-small);
  text-transform: uppercase;
}

.menu-link,
%menu-link {
  border-radius: $shape-border-radius-base;
  color: var(--color-ink-2ry);
  cursor: pointer;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-bottom: .4rem;
  padding: .2rem $size-2 0;
  transition:
    background $motion-duration-sm,
    color $motion-duration-sm;
  height: 5.2rem;

  &:hover,
  &:focus {
    background-color: $color-background-alt;
    text-decoration: none;
  }

  .icon {
    margin-right: $size-2;
    transform: translateY(-.1rem);
  }
}

// -----------------------------------------------------------------------------
// LAYOUT
// -----------------------------------------------------------------------------

.full-width-lg,
%full-width-lg {
  @include media-breakpoint-up(lg) {
    position: relative;
    left: calc(-50vw + 50%);
    width: 100vw;
  }
}
